
#li {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(12, 89, 89)
}

#h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(3, 41, 28)
}
#h3 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}